.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Each section wrapper takes full viewport height */
.section-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.section-wrapper.active {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Two-column layout */
.scroll-container {
  display: flex;
  min-height: 100vh;
}

/* Left column for text */
.text-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  max-width: 500px;
  padding: 40px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 100;
  height: 0;
}

/* Text styling */
.sticky-text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s ease-in-out;
  font-size: 1rem;
  text-align: left;
  opacity: 0;
  pointer-events: none;
  padding: 1rem;
  background-color: rgba(187, 234, 245, 0.377);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sticky-text.active {
  opacity: 1;
}

/* Right column for charts */
.chart-container {
  flex: 1;
  margin-left: 40%; /* Match text container width */
  padding: 40px;
  min-width: 0;
}